.successMsg {
  margin-top: 1rem;
  display: inline-block;
}

.newWordBtn, .giveUpBtn {
  color: white;
  text-transform: uppercase;
  transition: all .6s;
}

.newWordBtn {
  background-color: green;
}

.giveUpBtn {
  background-color: red;
  margin-left: 1rem;
}

.newWordBtn:hover,
.newWordBtn:active,
.giveUpBtn:hover,
.giveUpBtn:active {
  background-color: yellow;
  color:black;
  transition: all .6s;
}

.hideSecretWord {
  background-color: black;
  color: transparent;
  transition: all .3s;
}

.hideSecretWord:hover {
  color: black;
  background-color: transparent;
  transition: all .3s;
}

.guessBtn {
  margin-left: 1rem;
}

.instructionsTxt, .results {
  margin-top: 1rem;
}

.guessCount {
  font-weight: bold;
}