.successMsg, .failMsg {
  margin-top: .5rem;
}

.hideSecretWord {
  background-color: black;
  color: transparent;
  transition: all .3s;
}

.hideSecretWord:hover {
  color: black;
  background-color: transparent;
  transition: all .3s;
}

.searchInput {
  vertical-align: middle;
}

.guessBtn, .giveUpBtn {
  margin-left: 1rem;
  vertical-align: middle
}

.instructionsTxt, .results {
  margin-top: 1rem;
}

.guessCount {
  font-weight: bold;
}

.secretWordFailedMsg {
  font-weight: bold;
}

footer {
  font-size: .8rem;
  font-style: italic;
  text-align: right;
}

.instructions-submit-word {
  margin-bottom: .3rem;
}

.spinner {
  display: block;
  margin: 0 auto;
}